{% extends 'currency/base.html' %}

{% block title %}RATE DETAILS{% endblock title %}

{% block main_content %}
    <h1>Details Rate ID: {{ object.id }}</h1>
    <p><b><a href="{% url 'currency:rate_list' %}">Back</a></b></p>
<table>
    <tr>
        <th>ID</th>
        <th>Base Currency Type</th>
        <th>Currency Type</th>
        <th>Sale</th>
        <th>Buy</th>
        <th>Source</th>
        <th>Created</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td>{{ object.id }}</td>
        <td>{{ object.base_currency_type }}</td>
        <td>{{ object.currency_type }}</td>
        <td>{{ object.sale }}</td>
        <td>{{ object.buy }}</td>
        <td>{{ object.source }}</td>
        <td>{{ object.created }}</td>
        <td><a href="{% url 'currency:rate_update' rate.id %}">Edit</a></td>
        <td><a href="{% url 'currency:rate_delete' rate.id %}">Delete</a></td>
    </tr>
</table>
{% endblock main_content %}