{% extends 'currency/base.html' %}

{% block title %}SOURCE DETAILS{% endblock title %}

{% block main_content %}
    <h1>Details Source ID: {{ instance.id }}</h1>
    <p><b><a href="{% url 'currency:source_list' %}">Back</a></b></p>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Source URL</th>
        <th>Created</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td>{{ object.id }}</td>
        <td>{{ object.name }}</td>
        <td>{{ object.source_url }}</td>
        <td>{{ object.created }}</td>
        <td><a href="{% url 'currency:source_update' source.id %}">Edit</a></td>
        <td><a href="{% url 'currency:source_delete' source.id %}">Delete</a></td>
    </tr>
</table>
{% endblock main_content %}